ETHERSCAN_API_KEY=
OPTIMISTIC_ETHERSCAN_API_KEY=
POLYSCAN_API_KEY=

# the deployer address, when using a ledger or a seed phrase
SENDER_ETHEREUM_MAINNET=
SENDER_ETHEREUM_SEPOLIA=
SENDER_OPTIMISM_MAINNET=
SENDER_OPTIMISM_SEPOLIA=
SENDER_POLYGON_MAINNET=
SENDER_POLYGON_MUMBAI=

# public rpc:
RPC_ETHEREUM_MAINNET=
RPC_ETHEREUM_SEPOLIA=
RPC_OPTIMISM_MAINNET=
RPC_OPTIMISM_SEPOLIA=
RPC_POLYGON_MAINNET=
RPC_POLYGON_MUMBAI=
